
<!DOCTYPE html>
<html>
<head><title>Edit Student</title></head>
<body>
    <a href="/" style="float:right;">🏠 Home</a>
    <h2>Edit Student</h2>
    <form method="post">
        Name: <input name="name" value="{{student.name}}"><br>
        Address: <input name="address" value="{{student.address}}"><br>
        Parent: <input name="parent" value="{{student.parent}}"><br>
        Mobile: <input name="mobile" value="{{student.mobile}}"><br>
        Monthly Fee: <input name="fee" value="{{student.fee}}"><br>
        <button type="submit">Update</button>
    </form>
</body>
</html>
