
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="icon-card"><a class="icon-link" href="/students"><i class="fas fa-user-graduate"></i><h5>Students</h5></a></div>
    <div class="icon-card"><a class="icon-link" href="/schedule"><i class="fas fa-calendar-alt"></i><h5>Class Schedule</h5></a></div>
    <div class="icon-card"><a class="icon-link" href="/payments"><i class="fas fa-money-bill-wave"></i><h5>Payments</h5></a></div>
    <div class="icon-card"><a class="icon-link" href="/reports"><i class="fas fa-chart-bar"></i><h5>Reports</h5></a></div>
</body>
</html>
